<% layout('./layout/page.ejs') %>
<link rel='stylesheet' href='/stylesheets/hero.css' />
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<h1><%= title %></h1>
<div class="conteiner">
    <img src="<%= picture %>" alt="">
    <a href="#" class="previous round" onclick="history.back();return false;">
        <i class="fi fi-rr-angle-left"></i>
    </a>
    <a href="#" class="next round" onclick="history.back();return false;">
        <i class="fi fi-rr-angle-right"></i>
    </a>
</div>

<div class="point">
    <h4>Несколько слов о нашем герое: <%= desc %></h4>
</div>

