<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <i class="fi fi-rr-home"></i>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <% if(typeof nav=='object' && nav){ nav.forEach(function(item){ %>
                <li class="nav-item">
                  <a class="nav-link" href="/heroes/<%=item.nick%>">
                    <%=item.title%>
                  </a>
                </li>
                <% })} %>
              <!--
                <li class="nav-item">
                <a class="nav-link" href="/heroes/star_lord">Звездный Лорд</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/heroes/rocket">Ракета Енот</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/heroes/groot">Грут</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/heroes/drax">Дракс</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/heroes/yondu">Йонду Удонта</a>
              </li>
              -->>
            </ul>
            
          </div>
          <form class="d-flex">
            <a class="navbar-brand" href="#">
                <i class="fi fi-rr-user"></i>
            </a>
        </form>
        </div>
      </nav>
    <%- body %>
  </body>
</html>
